html {
  font-size: 0.7em;
}

body {
  font-size: 1rem;
  line-height: 1.75rem;
}

.navigation,
.course-nav-section,
.kis,
.about-te-pukenga,
.cc-cta,
.w-richtext-figure-type-video,
.applynow_btn,
.about-te-pukenga,
.div-block-58,
.social-icons,
.footer-links-center,
.tp-links,
.tepukenga-upper-info,
.footer-tp,
.govt-logo,
.breadcrumbs,
.div-block-48 {
  display: none !important;
}

.course-banner,
.section.footer {
  background: none;
  color: black;
  min-height: 0;
}

.tag-location,
.phone-link {
  color: black;
}

.course-banner-container {
  padding: 0;
}

h1,
.heading-jumbo-medium {
  font-size: 3rem;
  line-height: 3.5rem;
}

.lower-footer {
  display: block;
}
.govt-right {
  text-align: center;
}
.duration {
  margin-top: 1.5rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  page-break-after: avoid;
}

.print-header {
  display: block;
}
